@model MovigenCore.Models.ApplicationUser
@{
    ViewData["Title"] = "Bloquear Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <br />
        <h3 class="text-danger">Controlador Usuario</h3>
        <form method="post">

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Nombre" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Email" readonly class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                @if (Model.LockoutEnd == null)
                {
                    <input asp-action="AccountControl" type="submit" class="btn btn-outline-danger" asp-route-id="@Model.Id" value="Bloquear" />
                }
                else
                {
                    <input asp-action="AccountControl" type="submit" class="btn btn-outline-primary" asp-route-id="@Model.Id" value="Unlock" />
                }
                <a asp-action="Index" class="btn btn-outline-warning">Volver a lista de Usuarios</a>
            </div>

        </form>

    </div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
