@{
    ViewData["Title"] = "Contacto";
}
<br />
<h3 class="text-info">@ViewData["Title"]</h3>

<address>
    Lago Cochrane<br />
    4920, Puente Alto, Santiago<br />
    <abbr title="Teléfono Fijo">P:</abbr>
    +56 2 22670274
</address>

<address>
    <strong>Soporte: </strong> <a href="mailto:brandon.tapia@sisgenchile.cl">brandon.tapia@sisgenchile.cl</a><br />
    <strong>Cobranzas: </strong> <a href="mailto:cobranzas.sisgen@netdte.cl">cobranzas.sisgen@netdte.cl</a><br />
    <strong>Marketing: </strong> <a href="mailto:ventas.sisgen@netdte.cl">ventas.sisgen@netdte.cl</a>
</address>
