@model MovigenCore.Models.Cliemae

@{
    ViewData["Title"] = "Ingresar Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h3 class="text-info">Ingresar Cliente</h3>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <input asp-for="Clven" type="hidden" />
           
            <div class="form-group">
                <label asp-for="Clrut" class="control-label"></label>
                <input asp-for="Clrut" class="form-control" id="rutCliente" onblur="valRut();" />
                <span asp-validation-for="Clrut" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Clnom" class="control-label"></label>
                <input asp-for="Clnom" class="form-control" />
                <span asp-validation-for="Clnom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cldir" class="control-label"></label>
                <input asp-for="Cldir" class="form-control" />
                <span asp-validation-for="Cldir" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Clobs" class="control-label"></label>
                <input asp-for="Clobs" class="form-control" />
                <span asp-validation-for="Clobs" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-info">Volver a la Lista de Usuarios</a>
            </div>
        </form>
    </div>
</div>


