@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de reinicio de contraseña";
}
<br />
<h3 class="text-success">@ViewData["Title"]</h3>
<p>
    Revise su email para reiniciar su contraseña.
</p>

