@{ 
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    ViewData["Title"] = "Account";
}

<h3 class="text-info">Administra tu cuenta</h3>

<div>
    <h4>Cambie su configuración desde este menú</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
