@model MovigenCore.Models.ViewModel.EmpresaViewModel

@{
    ViewData["Title"] = "Crear Empresa";
}
<div class="container">
    <br />
    <h3 class="text-info">Ingresar Nueva Empresa</h3>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Empresa.Rut" class="control-label"></label>
                    <input asp-for="Empresa.Rut" class="form-control" id="rutCliente" onblur="valRut();" />
                    <span asp-validation-for="Empresa.Rut" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Empresa.RazonSocial" class="control-label"></label>
                    <input asp-for="Empresa.RazonSocial" class="form-control" />
                    <span asp-validation-for="Empresa.RazonSocial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Empresa.NombreFantasia" class="control-label"></label>
                    <input asp-for="Empresa.NombreFantasia" class="form-control" />
                    <span asp-validation-for="Empresa.NombreFantasia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Empresa.Direccion" class="control-label"></label>
                    <input asp-for="Empresa.Direccion" class="form-control" />
                    <span asp-validation-for="Empresa.Direccion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Empresa.EmailAdministrador"></label>
                    <select asp-for="Empresa.EmailAdministrador" asp-items="@Model.Usuarios" class="form-control" required>
                        <option value="">Seleccionar un Usuario</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-outline-primary" />
                    <a asp-action="Index" class="btn btn-outline-warning">Volver a lista de Empresas</a>
                </div>
            </form>
        </div>
    </div>

</div>
@section Scripts{

    @if (ViewBag.message != null)
    {
        <script>
                  swal("Error", '@ViewBag.message', "error");
        </script>
    }


}